/*  your css code here. If applicable */
.container {
   border: 1px solid;
	width: 880px;
	height: 440px;
}

.square {
	float: left;
	margin: 1px;
    width: 20px;
    height: 20px;
    background-color: rgb(29, 29, 29);
    transition: background-color 1s ease;
}

.square:hover {
    background-color: rgb(29, 29, 29);
}